* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
// body {
//     background-image: url(../../images/bg.png);
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     // width: 100%;
//     // height: 100%;
//     // background-attachment: fixed;

// }
.aboutme-container {
    background-size: cover;
    background-attachment: fixed;
    // width: 100vw;
    background-image: url("../../images/bgvertical 2.png");

    height: 1500px;
    overflow-y: scroll;

    font-family: "Asap";
    @include forPc {
        background-image: url(../../images/bg2.png);
        background-size: inherit;
    }
    &__body {
        padding: 1.25rem;

        &-text {
            text-align: center;
            h1 {
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae;
                @include forTablet {
                    font-size: 2rem;
                }
            }
        }
        .img-container {
            margin-top: 40px;
            text-align: center;
            .img-profile {
                max-width: 200px;
                max-height: 200px;
                @include forTablet {
                    max-width: 300px;
                    max-height: 300px;
                }
                @include forPc {
                    max-width: 400px;
                    max-height: 400px;
                }
            }
        }
    }
   a {
        text-decoration: none;
        color: $secondaryColor;
        // font-size: 1.2rem;
        cursor: pointer;
        &:hover,
            &:focus {
                color: $mainColor;
                text-decoration: none;
            }
       
    }
    .social-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 37%;
        left: 4%;
        animation-name: fade-in;

        -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        @-webkit-keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        i {
            font-size: 25px;
            color: $mainColor;
            padding: 5px;
            

            &:hover,
            &:focus {
                color: black;
                opacity: 0.7;
                transition: all 0.7s ease;
            }
        }
        .fa-file-download {
            text-align:center;
        }

        @include forTablet {
            top: 50%;
            position: fixed;
            margin: 20px;
            left: 0%;

            i {
                font-size:30px;
                padding: 10px;
            }
            
        }
    }
}
