.hidden {
  display: none;
}

.cardOne {
  left: 4%;
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
  animation-name: cardOne;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @include forTablet {
    width: 315px;
    left: 27%;
  }
  @include forPc {
    left: 32%;
  }
}

.topOne1 {
  top: 450px;
  @include forTablet {
    top: 570px;
  }
  @include forPc {
    top: 650px;
  }
}
.topOne2 {
  top: 692px;
  @include forTablet {
    top: 800px;
  }
  @include forPc {
    top: 860px;
  }
}
.topOne3 {
  top: 940px;
  @include forTablet {
    top: 1034px;
  }
  @include forPc {
    top: 1080px;
  }
}

.topOne4 {
  top: 1189px;
  @include forTablet {
    top: 1265px;
  }
  @include forPc {
    top: 1300px;
  }
}

.cardOne img {
  border: 3px solid #f0ff54;
  border-radius: 50%;
  background-color: #f0ff54;
}

.cardOne div {
  width: 220px;
  height: 70px;
  background-color: white;
  opacity: 0.7;
  clip-path: polygon(10% 0%, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
  border-right: 8px solid $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  @include forTablet {
    height: 70px;
  }
}

.cardOne p {
  font-family: "Asap";
  font-size: 15px;
  padding-left: 27px;
  margin-bottom: 0rem;
}

@keyframes cardOne {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(30px);
  }
}

// Card2

.cardTwo {
  // left:18%;
  left: 36%;
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 650px;

  animation-name: cardTwo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  @include forTablet {
    width: 315px;
    left: 46%;
  }
  @include forPc {
    left: 50%;
  }
}
.topTwo1 {
  top: 570px;
  @include forTablet {
    top: 685px;
  }
  @include forPc {
    top: 750px;
  }
}

.topTwo2 {
  top: 815px;
  @include forTablet {
    top: 920px;
  }
  @include forPc {
    top: 970px;
  }
}
.topTwo3 {
  top: 1067px;
  @include forTablet {
    top: 1150px;
  }
  @include forPc {
    top: 1190px;
  }
}
.topTwo4 {
  top: 1321px;
  @include forTablet {
    top: 1385px;
  }
  @include forPc {
    top: 1410px;
  }
}

.cardTwo img {
  border: 3px solid $secondaryColor;
  border-radius: 50%;
  background-color: #f0ff54;
}

.cardTwo div {
  width: 220px;
  height: 70px;
  background-color: white;
  opacity: 0.7;
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
  border-left: 8px solid #43f6ae;
  display: flex;
  justify-content: center;
  align-items: center;
  @include forTablet {
    height: 70px;
  }
}

.cardTwo p {
  font-family: "Asap";
  font-size: 15px;
  padding-right: 10px;
}

@keyframes cardTwo {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(-30px);
  }
}
