.menu-wrapper {
    display: flex;
    justify-content: space-evenly;
    @include forTablet {
        justify-content: space-between;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-top: 10px;

        @include forTablet {
            width: 80px;
            height: 80px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    .menu {
        margin-top: 20px;
        font-size: 1rem;

        a {
            color: black;
            font-family: "Asap", sans-serif;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
            background-image: linear-gradient(#43f6ae, #43f6ae);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.3s;
            &:hover,
            &:focus {
                color: $mainColor;
                text-decoration: none;
            }
        }
        a:hover,
        a:focus {
            background-size: 100% 2px;
        }

        @include forTablet {
            font-size: 1.3rem;
            margin-right: 20px;
            margin-top: 40px;
        }
        // @include forPc {
        //     font-size: 1.5rem;
        // }
    }
    span {
        margin: 10px;
    }
}
