html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
  
}

.container-image {
    background-image:url(../../images/zebra2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 90vh;
    // @include forTablet { 
    // width: 100vw;
    // height: 100vh;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // }
}
.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:43%;
    left: 4%;
    animation-name: fade-in;

    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    i {
        font-size: 25px;
        color: $mainColor;
        padding: 5px;

        &:hover,
        &:focus {
            color: black;
            opacity: 0.7;
            transition: all 0.7s ease;
        }
    }

    @include forTablet {
        top: 50%;
        position: fixed;
        margin: 20px;
        left: 0%;

        i {
            font-size: 35px;
            padding: 10px;
        }
    }
}


