// // Cards
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.projects-container {
    background-attachment: fixed;
    // background-size: cover;
    background-image: url("../../images/bgvertical.png");
   @include forTablet{
    background-image: url(../../images/bg.png);
    background-size: inherit;
   }

    @include forPc {
    background-image: url(../../images/bg.png);
    background-size: inherit;

}
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Asap", sans-serif;

        .react-card-flip {
            // width: 100%;
            margin-bottom: 71px;
            min-height: 350px;

            @include forTablet {
                max-width: 600px;
                min-height: 550px;
            }

            @include forPc {
                max-width: 720px;
                min-height: 550px;
                margin-bottom: 150px;
            }
        }

        .card-front {
            margin-top: 70px;
            margin-bottom: 50px;

            // max-width: 720px;
            // min-height: 550px;
            .container_text {
                text-align: center;
            }
            .number {
                font-size: 1.4rem;
                @include forTablet {
                    font-size: 2.5rem;
                    margin: 0px;
                }
            }
            .title {
                margin-top: 0px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.4rem;
                display: inline-block;
                align-content: center;
                padding: 8px;
                border-left: 3px solid #daf11e;
                border-right: 3px solid #ffb021;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                @include forTablet {
                    font-size: 2rem;
                }
            }
            .text-content {
                font-size: 0.8rem;

                @include forTablet {
                    font-size: 1rem;
                }
            }
            .labels {
                display: flex;
                flex-wrap: wrap;
            }
            .labels span {
                margin: 2px;
                padding: 3px;
                border: 1px solid black;
                @include forTablet {
                    padding: 5px;
                    border: 1px solid black;
                    // border-left: 3px solid #daf11e;
                    // border-right: 3px solid #ffb021;
                    &.label2,
                    &.label3,
                    &.label4,
                    &.label5 {
                        margin-left: 20px;
                    }
                }
            }
        
    }
        .card-back {
            // margin-top: 70px;
            margin-top: 70px;
            @include forTablet {
                max-width: 600px;
                max-height: 550px;
            }
            @include forPc {
                max-width: 720px;
                max-height: 550px;
            }

            .img-container {
                margin: 0px;
                padding: 0px;

                .image {
                    border-radius: 40px;
                    box-shadow: 1px 0px 10px 1px #818182;
                    max-width: 330px;
                    max-height: 450px;
                    @include forTablet {
                        max-width: 600px;
                        max-height: 550px;
                    }
                    @include forPc {
                        max-width: 720px;
                        max-height: 550px;
                    }
                }
            }
            .icons {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                max-width: 325px;
                @include forTablet {
                    max-width: 600px;
                }
                @include forPc {
                    max-width: 720px;
                    margin-top: 20px;
                }
                .fas.fa-angle-left {
                    font-size: 1.8rem;
                    color: #ff1dad;
                    cursor: pointer;
                }
                a {
                    color: #ff19ad;
                    text-decoration: none;
                }
            }
        }

        @mixin btn-border-drawing(
            $color: #ff19ad,
            $hover: yellow,
            $width: 2px,
            $vertical: top,
            $horizontal: left,
            $duration: 0.25s
        ) {
            box-shadow: inset 0 0 0 $width $color;
            color: $color !important;
            transition: color $duration $duration/3 !important;
            position: relative;

            &::before,
            &::after {
                border: 0 solid transparent;
                box-sizing: border-box;
                content: "";
                pointer-events: none;
                position: absolute;
                width: 0;
                height: 0;

                #{$vertical}: 0;
                #{$horizontal}: 0;
            }

            &::before {
                $h-side: if($horizontal == "left", "right", "left");

                border-#{$vertical}-width: $width;
                border-#{$h-side}-width: $width;
            }

            &::after {
                $v-side: if($vertical == "top", "bottom", "top");

                border-#{$v-side}-width: $width;
                border-#{$horizontal}-width: $width;
            }

            &:hover {
                color: #ffe593;

                &::before,
                &::after {
                    border-color: $hover;
                    transition: border-color 0s, width $duration, height $duration;
                    width: 100%;
                    height: 100%;
                }

                &::before {
                    transition-delay: 0s, 0s, $duration;
                }

                &::after {
                    transition-delay: 0s, $duration, 0s;
                }
            }
        }

        .draw-border {
            @include btn-border-drawing(#ff19ad, #ffe593, 4px, bottom, right);
        }

        .btn {
            background: none;
            border: none;
            cursor: pointer;
            line-height: 1.5;
            padding: 0.5rem;
            letter-spacing: 0.05rem;

            @include forTablet {
                padding: 1em 2em;
            }

            &:focus {
                outline: 2px dotted #ff19ad;
            }
        }
    }
}

//     background-attachment: fixed;
// }
//     .card-container {
//         position: relative;
//         z-index: 1;
//         margin: 32px auto;
//         max-width: 720px;
//         // height: 420px;
//         perspective: 1000px;
//         font-family: "Asap";
//         .card-body {
//             display: grid;
//             grid-template-columns: 1fr;
//             grid-template-rows: 400px 400px 400px 450px;
//             @include forTablet {
//                 display: flex;
//                 flex-direction: column;
//             }
//             .react-card-flip {
//                 margin-top: 20px;
//                 min-height: 150px;

//                 @include forTablet {
//                     min-height: 600px;
//                 }
//             }
//             img {
//                 max-width: 100%;
//                 max-height: 100%;
//             }

//             .react-card-front {
//                 padding-top: 32px;
//                 .side-front [class^="col-xs"]:first-of-type {
//                     padding-left: 0;
//                 }
//                 .right {
//                     text-align: center;
//                     text-transform: uppercase;
//                     font-size: 2rem;
//                     text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae;

//                     p.text-center {
//                         font-weight: 600;
//                         font-family: "Asap" !important;
//                         text-align: center !important;
//                         display: inline-block;
//                         align-content: center;
//                         padding: 8px;
//                         border-left: 3px solid #daf11e;
//                         border-right: 3px solid #ffb021;
//                     }
//                 }
//             }

//             /*- Back side -*/
//             .react-card-back {
//                 .row {
//                     margin-bottom: 30px;
//                 }
//                 .side-back {
//                     z-index: 2;
//                     text-align: center;
//                     width: 100%;
//                 }
//             }
//             .icons {
//                 display: flex;
//                 justify-content: space-between;
//                 margin-top: 30px;

//                 .fas.fa-angle-left {
//                     font-size: 1.8rem;
//                     color: #ff1dad;
//                     cursor: pointer;
//                 }
//                 a {
//                     color: #ff19ad;
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }

// @mixin btn-border-drawing(
//     $color: #ff19ad,
//     $hover: yellow,
//     $width: 2px,
//     $vertical: top,
//     $horizontal: left,
//     $duration: 0.25s
// ) {
//     box-shadow: inset 0 0 0 $width $color;
//     color: $color !important;
//     transition: color $duration $duration/3 !important;
//     position: relative;

//     &::before,
//     &::after {
//         border: 0 solid transparent;
//         box-sizing: border-box;
//         content: "";
//         pointer-events: none;
//         position: absolute;
//         width: 0;
//         height: 0;

//         #{$vertical}: 0;
//         #{$horizontal}: 0;
//     }

//     &::before {
//         $h-side: if($horizontal == "left", "right", "left");

//         border-#{$vertical}-width: $width;
//         border-#{$h-side}-width: $width;
//     }

//     &::after {
//         $v-side: if($vertical == "top", "bottom", "top");

//         border-#{$v-side}-width: $width;
//         border-#{$horizontal}-width: $width;
//     }

//     &:hover {
//         color: #ffe593;

//         &::before,
//         &::after {
//             border-color: $hover;
//             transition: border-color 0s, width $duration, height $duration;
//             width: 100%;
//             height: 100%;
//         }

//         &::before {
//             transition-delay: 0s, 0s, $duration;
//         }

//         &::after {
//             transition-delay: 0s, $duration, 0s;
//         }
//     }
// }

// .draw-border {
//     @include btn-border-drawing(#ff19ad, #ffe593, 4px, bottom, right);
// }

// .btn {
//     background: none;
//     border: none;
//     cursor: pointer;
//     line-height: 1.5;
//     padding: 1em 2em;
//     letter-spacing: 0.05rem;

//     &:focus {
//         outline: 2px dotted #ff19ad;
//     }
// }
