* {
    margin: 0px;
    padding: 0px;
}

.container_skills {
    background-image: url("../../images/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    // height: 100vh;

    .wrapper-circles {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Asap";
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            display: inline-block;
        }
        img {
           
                width: 250px;
                height: 250px;
            
        }
        .circle1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_text {
                border-bottom: 3px solid #daf11e;
                border-right: 3px solid #ffb021;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                margin: 0px;
            }
            
        }
        .circle2 {
            display: flex;
            flex-direction: column;
            
            &_text {
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                border-left: 3px solid #ea36af;
                border-bottom: 3px solid #43f6ae;
                margin: 0px;
            }
        }
            .circle3 {
                display: flex;
                flex-direction: column;
                
                &_text {
                    text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                    border-left: 3px solid #ffb021;
                    border-right: 3px solid #ffb021;
                    // border-top: 3px solid #43f6ae;
                    margin: 0px;
                }
            
        }
    }
}
