* {
    margin: 0px;
    padding: 0px;
}

.container_skills {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../images/bgvertical.jpg");

    @include forPc {
        background-image: url(../../images/bg.jpg);
        background-size: inherit;
    }
    &-body {
        @include forPc {
            display: flex;
            justify-content: center;
        }
    }
    .wrapper-circles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include forTablet {
            align-items: center;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            min-height: 1178px;
            min-width: 600px;
            margin: 20px;
            margin-bottom: 0px;
        }
        @include forPc {
            max-width: 1000px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        h2 {
            display: inline-block;
            font-family: "Asap";
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            padding: 0px 10px 0px 10px;

            @include forTablet {
                margin-top: 40px;
                font-size: 1.8rem;
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        img {
            width: 250px;
            height: 250px;
            @include forTablet {
                width: 400px;
                height: 400px;
            }
        }
        .circle1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 30px;
            align-items: center;
            animation-name: bounce-in-top;

            -webkit-animation: bounce-in-top 1.1s ease-in both;
            animation: bounce-in-top 1.1s ease-in both;
  
            @-webkit-keyframes bounce-in-top {
                0% {
                    -webkit-transform: translateY(-500px);
                    transform: translateY(-500px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 0;
                }
                38% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
                55% {
                    -webkit-transform: translateY(-65px);
                    transform: translateY(-65px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                72% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                81% {
                    -webkit-transform: translateY(-28px);
                    transform: translateY(-28px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                90% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                95% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }
            @keyframes bounce-in-top {
                0% {
                    -webkit-transform: translateY(-500px);
                    transform: translateY(-500px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 0;
                }
                38% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
                55% {
                    -webkit-transform: translateY(-65px);
                    transform: translateY(-65px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                72% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                81% {
                    -webkit-transform: translateY(-28px);
                    transform: translateY(-28px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                90% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                95% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }

            &_text {
                display: inline-block;
                border-bottom: 3px solid #daf11e;
                border-right: 3px solid #ffb021;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                margin: 0px;
                @include forTablet {
                    align-items: center;
                    border-bottom: 5px solid #daf11e;
                    border-right: 5px solid #ffb021;
                }
            }
        }
        .circle2 {
            display: flex;
            flex-direction: column;
            margin: 30px;
            align-items: center;

            animation-name: bounce-in-top;

            -webkit-animation: bounce-in-top 1.4s ease-in both;
            animation: bounce-in-top 1.4s ease-in both;
  
            @-webkit-keyframes bounce-in-top {
                0% {
                    -webkit-transform: translateY(-500px);
                    transform: translateY(-500px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 0;
                }
                38% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
                55% {
                    -webkit-transform: translateY(-65px);
                    transform: translateY(-65px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                72% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                81% {
                    -webkit-transform: translateY(-28px);
                    transform: translateY(-28px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                90% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                95% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }
            @keyframes bounce-in-top {
                0% {
                    -webkit-transform: translateY(-500px);
                    transform: translateY(-500px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 0;
                }
                38% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
                55% {
                    -webkit-transform: translateY(-65px);
                    transform: translateY(-65px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                72% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                81% {
                    -webkit-transform: translateY(-28px);
                    transform: translateY(-28px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                90% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                95% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                100% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }

            &_text {
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                border-left: 3px solid #ea36af;
                border-bottom: 3px solid #43f6ae;
                margin: 0px;
                @include forPc {
                    border-left: 5px solid #ea36af;
                    border-bottom: 5px solid #43f6ae;
                }
            }
        }
        .circle3 {
            display: flex;
            flex-direction: column;
            margin: 30px;
            align-items: center;
            animation-name: slide-in-elliptic-top-fwd;
            -webkit-animation: slide-in-elliptic-top-fwd 0.7s both;
            animation: slide-in-elliptic-top-fwd 0.7s both;

            @-webkit-keyframes slide-in-elliptic-top-fwd {
                0% {
                    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                    transform: translateY(-600px) rotateX(-30deg) scale(0);
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateY(0) rotateX(0) scale(1);
                    transform: translateY(0) rotateX(0) scale(1);
                    -webkit-transform-origin: 50% 1400px;
                    transform-origin: 50% 1400px;
                    opacity: 1;
                }
            }
            @keyframes slide-in-elliptic-top-fwd {
                0% {
                    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                    transform: translateY(-600px) rotateX(-30deg) scale(0);
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateY(0) rotateX(0) scale(1);
                    transform: translateY(0) rotateX(0) scale(1);
                    -webkit-transform-origin: 50% 1400px;
                    transform-origin: 50% 1400px;
                    opacity: 1;
                }
            }

            &_text {
                text-shadow: 0.06rem 0 0.06rem #ea36af, 9rem 20px 20rem #43f6ae !important;
                border-left: 3px solid #ffb021;
                border-right: 3px solid #ffb021;
                // border-top: 3px solid #43f6ae;
                margin: 0px;
                @include forPc {
                    border-left: 5px solid #ffb021;
                    border-right: 5px solid #ffb021;
                }
            }
        }
    }
}
